/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FINE CSS RESET */


body {
    font-family: sans-serif;
    border: solid 1px black;
    background-color: rgb(245, 245, 245);
    width: 400px;
    margin: auto;
}


.header {
    border-bottom: solid 1px black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgb(48, 62, 79);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
}


.quadrato {
    height: 150px;
    border: solid 1px rgb(234, 234, 234);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin: 15px;
    padding: 15px;
}

img {
    width: 40px;
    border: solid 2px rgb(48, 62, 79);
    float: left;
}

h3 {
    color: rgb(48, 62, 79);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 55px;
}

p {
    color: rgb(146, 146, 146);
    font-size: 13px;
    padding-top: 10px;
}

.footer {
    border-top: solid 1px black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(48, 62, 79);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 13px;
    padding: 15px;
}