/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FINE CSS RESET */


body {
    font-family: sans-serif;
    border: solid 1px black;
    background-color: rgb(242, 242, 242);
    width: 400px;
    margin: auto;
}


.header {
    border-bottom: solid 1px black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgb(42, 60, 109);
    color: aliceblue;
    text-align: center;
    padding: 15px;
}


.quadrato {
    height: 160px;
    border: solid 1px rgb(158, 158, 158);
    border-radius: 5px;
    background-color: aliceblue;
    margin: 25px;
    padding: 15px;
}

img {
    width: 40px;
    border: solid 1px black;
    float: left;
}

h3 {
    color: rgb(42, 60, 109);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 55px;
}

p {
    color: rgb(146, 146, 146);
    font-size: 13px;
    padding-top: 10px;
}

.footer {
    border-top: solid 1px black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(42, 60, 109);
    color: aliceblue;
    text-align: center;
    font-size: 13px;
    padding: 15px;
}