/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FINE CSS RESET */


body {
    font-family: sans-serif;
    border: solid 1px black;
    background-color: rgb(242, 242, 242);
    width: 400px;
    margin: auto;
}


.header {
    border-bottom: solid 1px black;
    background-color: rgb(42, 60, 109);
    color: aliceblue;
    text-align: center;
    padding: 10px;
}


.quadrato {
    border: solid 1px rgb(158, 158, 158);
    background-color: aliceblue;
    margin: 25px;
    padding: 15px;
}

img {
    width: 40px;
}

.footer {
    border-top: solid 1px black;
    background-color: rgb(42, 60, 109);
    color: aliceblue;
    text-align: center;
    padding: 10px;
}